<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consulting_type.name %>
</p>

<%= link_to 'Edit', edit_consulting_type_path(@consulting_type) %> |
<%= link_to 'Back', consulting_types_path %>
